body {
    
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 550px) and (max-width: 720px) {
    body {
        background-color: lightred;
    }
}
