body {
    
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
  font-size:100%;
  color: red;
}

h2 {
  color: blue;
  
}

table, th, td {
    border: 1px solid blue;
    width 120%;
}

td {
    padding: 5px;
    text-align: center;    
}

th {
    padding: 7px;
    font-size:150%;
    text-align: CENTER;    
}

@media only screen and (min-width: 480px) and (max-width: 720px){
    body {
        background-color: lightgreen;
        .p{
            display: none;}
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    body {
        background-color: lightgray;
    }
}
